body {
	color: #888;
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	overflow-x: hidden;
}


html,
body {
	height: 100%;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0px;
	margin: 0px;
	font-family: 'Mulish', sans-serif;
	color: #1a2d62;
	font-weight: 400;
}

a,Link {
	font-family: 'Mulish', sans-serif;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover,Link:hover {
	color: #fff;
	text-decoration: none;
}

a:focus,Link:focus {
	outline: none;
	text-decoration: none;
}

inout {
	outline: none;
}

p {
	margin-bottom: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

fieldset {
	border: 0 none;
	margin: 0 auto;
	padding: 0;
}

b,
strong {
	font-weight: 600;
}

span {
	font-family: 'Mulish', sans-serif;
}

.no-padding {
	padding: 0
}

.read-the-docs {
  color: #888;
}
