.errorMsg {
  max-width: 100%;
  font-size: 0.75rem;
  color: red;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}
input {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.25rem;
  outline: none;
}
